<mat-toolbar class="header">
    <span><img src="/assets/images/logo.png" height=auto width=30px></span>


    

    <a mat-button routerLink="/home" routerLinkActive="active" id="hbtn"><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="/aboutus" routerLinkActive="active" id="hbtn"><span class="fa fa-info fa-lg"></span> About</a>
    <a mat-button routerLink="/menu" routerLinkActive="active" id="hbtn"><span class="fa fa-list fa-lg"></span> Menu</a>
    <a mat-button routerLink="/contactus" routerLinkActive="active" id="hbtn"><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <span class="flex-spacer"></span>
    <a mat-button (click)="openLoginForm()" id="hbtn"><span class="fa fa-sign-in fa-lg"></span> Login</a>



  </mat-toolbar>
  
  <div class="container-fluid jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="60%">
      <h1>Bienvenido {{usuario}} a The Red Door</h1>
      <p>Nos inspiramos en las mejores cocinas del mundo y creamos una experiencia de fusión única. 
        ¡Nuestras creaciones le harán cosquillas a tus sentidos culinarios!</p>
    </div>
    <div class="md-8">
      
        <mat-toolbar-row>
            <img class="enmarcada" src="../../assets/images/alberto.png" alt="Avatar">
          </mat-toolbar-row>
    

    </div>
   
  </div>