<form novalidate [formGroup]="loginForm" (ngSubmit)="Entrar()">

    <mat-toolbar mat-dialog-title color="gray">
        <h2 class="display-3">Ingresar <button mat-button mat-dialog-close id="closebtn">&times;</button></h2>
       
    </mat-toolbar>

      
      <div class="centro">    
      <img class="img-thumbnail"   src="../../assets/images/login.png" alt="Avatar" >
      </div>
    <br><br>

    <div class="form-group"> 
            <mat-form-field>
                <input #usuarioInput matInput placeholder="Ingrese Usuario" value="{{usuario.usuario}}" formControlName="usuario"   type="usuario" name="usuarioInput"  required>
            </mat-form-field>

            </div>
<br>
<div class="form-group"> 
  <mat-form-field>
      <input matInput placeholder="Ingrese Email" value="{{usuario.email}}"   formControlName="email"   type="email" name="email" required>
   </mat-form-field>

  </div>
<br>
<div class="form-group"> 
  <mat-form-field>
      <input matInput placeholder="Ingrese Perfil" value="{{usuario.perfil}}"   formControlName="perfil"   type="perfil" name="perfil" required>
   </mat-form-field>

  </div>
<br>
<div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Ingrese Clave" value="{{usuario.clave}}"   formControlName="clave"  name="clave" [type]="hide ? 'clave' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>  

</div>

          <br>
            <mat-checkbox >Recordar mis Datos</mat-checkbox>
            <br>
     
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>Cancel</button>
        <button type="button" (click)="Entrar()"mat-button class="background-primary text-floral-white" >Ingresar</button>
  
</form>

<button  (click)="LoginCli()" class="btn btn-primary">Cliente</button>
<button  (click)="LoginVend()" class="btn btn-primary">Vendedor</button>
<button  (click)="LoginAdmin()" class="btn btn-primary">Administrador</button>
