<app-header></app-header>



<div class="mat-elevation-z8 col-md-5" style="color:black; background: rgba(119, 136, 153, 0.481);">


<label><input type="radio" [(ngModel)]="busqueda" value="local1">Local 1</label>
<label><input type="radio" [(ngModel)]="busqueda" value="local2">Local 2</label>

<table class="table">
    <thead>
      <th>Cod.Zapato</th> 
      <th>Nombre</th>
       <th>Fecha</th>
       <th>Local de Venta</th>
       <th>Precio</th>
       <th>Zapato para...</th>
       
    </thead>
    <tbody *ngIf="listado">
      <tr *ngFor="let zapato of (listado | filtroLocal: busqueda)">
          <td>{{zapato.codigozapato}}</td>
          <td>{{zapato.nombre}}</td>
          <td>{{fechaHoy | date:'dd-MM-yyyy'}}</td>
          <td>{{zapato.localVenta}}</td>
          <td>{{zapato.precio}}</td>
          <td>{{zapato.sexoZapato}}</td>
          
        </tr>
    </tbody>
  </table>
</div>

<button (click)="ProdNoRepetidos()" class="btn btn-success">NO Repetidos</button>
<table class="table">
 
<thead>
  <th>Cod.Zapato</th> 
</thead>
<tr *ngFor="let zapato of prodNoRepetidos">
  
  <tbody>
  <td>{{zapato.codigozapato}}</td>
</tbody>
</table>



<button (click)="ProdRepetidos()" class="btn btn-warning" >Repetidos </button>
<tr *ngFor="let zapato of prodRepetidos">
  <table class="table">
  <thead>
    <th>Cod.Zapato</th> 
  </thead>
  <tbody>
  <td>{{zapato.codigozapato}}</td>
</tbody>
</table>