/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

body{
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
	background-image: url('assets/imagenes/bar-principal.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	margin:20px;
	display: flex;
}


h1, h2, h3, p, h4, cite {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color:whitesmoke;
}

p
{
	color: whitesmoke;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.background-primary {
	background-color:lightsalmon !important;
  }
  .background-accent {
	background-color: #ffc107 !important;
  }
  .text-floral-white {
	color: floralwhite !important;
  }
  .flex-spacer {
	flex: 1 1 auto;
  }
