<app-header></app-header>
<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-mat="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="dish" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>Servidores</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../assets/imagenes/server.png" alt="Servidores">
  <mat-card-content>
    <p>Servidores WEB
    </p>
  </mat-card-content>
</mat-card>
  <div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

<mat-card *ngIf="promotion" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>Base de Datos</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../assets/imagenes/bases.png" alt="Base de Datos">
  <mat-card-content>
    <p>Alojamiento de bases de datos
    </p>
  </mat-card-content>
</mat-card>
  <div [hidden]="promotion">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

<mat-card *ngIf="leader" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>Almacenamiento de archivos</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/imagenes/archivos.png" alt="archivos">
    <mat-card-content>
      <p>Hosting de archivos
      </p>
    </mat-card-content>
  </mat-card>
  <div [hidden]="leader">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

</div>
  