<app-header></app-header>   


<div class="row">
    <div class="form-ingreso col-sm-3">
        <h3 style="color:whitesmoke; 	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Nuevo empleado</h3>
      <form [formGroup]="registroForm" >
        <div class="form-group">
        
    
          <input class="form-control input-ingreso" placeholder="Codigo del modelo" type="number"  name="codigoZapato"  [formControl]="codigoZapato" required><br>
          <input type="text" class="form-control input-ingreso" placeholder="Nombre del calzado"  name="nombre"  [formControl]="nombre" required><br>
            
          
          <input class="form-control input-ingreso" placeholder="Fecha de Ingreso" type="text"  name="fIngreso"  [formControl]="fIngreso" required><br>

          <input type="text" class="form-control input-ingreso" placeholder="Local de Venta"  name="localVenta"  [formControl]="localVenta" required><br>
             
          <input type="number" class="form-control input-ingreso" placeholder="Precio del producto" type="number"  name="precio"  [formControl]="precio" required><br>
          
          <input type="string" class="form-control input-ingreso" placeholder="Calzado para..."  name="sexoZapato"  [formControl]="sexoZapato" required><br>
             


            <button (click)="IngresarZapato()" class="btn btn-success col-sm-12" [disabled]="!registroForm.valid">Ingresar</button>
          <br><br>
         </div>
    
      </form>
    
    </div>
    
    <div class="mat-elevation-z8 col-sm-8" style="color:black; background: rgba(119, 136, 153, 0.481);">
      
        <h3 style="color:whitesmoke; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Lista de Servicios</h3>
      
   
        <table mat-table [dataSource]="listado" class="lessons-table mat-elevation-z8" style="align-content: center;">
     
            <ng-container matColumnDef="codigoZapato">
              <th mat-header-cell *matHeaderCellDef> Codigo del zapato </th>
              <td mat-cell *matCellDef="let element"> {{element.codigozapato}} </td>
            </ng-container>
          
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre del calzado </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
            <ng-container matColumnDef="fIngreso">
              <th mat-header-cell *matHeaderCellDef> Fecha de ingreso </th>
              <td mat-cell *matCellDef="let element"> {{fechaHoy | date:'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="localVenta">
              <th mat-header-cell *matHeaderCellDef> Local de Venta </th>
              <td mat-cell *matCellDef="let element"> {{element.localVenta}} </td>
            </ng-container>

            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let element"> {{element.precio | aumento: 25}} </td>
            </ng-container>

            <ng-container matColumnDef="sexoZapato">
              <th mat-header-cell *matHeaderCellDef> Zapato para... </th>
              <td mat-cell estilo [tipo]="element.sexoZapato" *matCellDef="let element" > {{element.sexoZapato}} </td>
              
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        
      </div>
    
    </div> 