<app-header></app-header>   


<div class="row">
    <div class="form-ingreso col-sm-3">
        <h3 style="color:whitesmoke; 	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Nuevo empleado</h3>
      <form [formGroup]="registroForm" >
        <div class="form-group">
        
    
          <input class="form-control input-ingreso" placeholder="Nombre del Servicio" type="url"  name="NombServ"  [formControl]="NombServ" required><br>
    
          <input type="number" class="form-control input-ingreso" placeholder="Cantidad Contratada"  name="Contratado"  [formControl]="Contratado" required><br>
               
            <button (click)="IngresarServicio()" class="btn btn-success col-sm-12" [disabled]="!registroForm.valid">Ingresar</button>
          <br><br>
         </div>
    
      </form>
    
    </div>
    
    <div class="mat-elevation-z8 col-sm-8" style="color:black; background: rgba(119, 136, 153, 0.481);">
      
        <h3 style="color:whitesmoke; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Lista de Servicios</h3>
      
        <!-- <p *ngFor="let web of listado">{{web.idUsuario}},{{web.nombre_servicio}}, {{web.contratado}} </p> -->

        <table mat-table [dataSource]="listado" class="lessons-table mat-elevation-z8" style="align-content: center;">
     
            <ng-container matColumnDef="idUsuario">
              <th mat-header-cell *matHeaderCellDef> Nombre de Usuario </th>
              <td mat-cell *matCellDef="let element"> {{element.idUsuario}} </td>
            </ng-container>
          
            <ng-container matColumnDef="nombre_servicio">
              <th mat-header-cell *matHeaderCellDef> Servicio Contratado </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre_servicio}} </td>
            </ng-container>
          
            <ng-container matColumnDef="contratado">
              <th mat-header-cell *matHeaderCellDef> Cantidad Contratada </th>
              <td mat-cell *matCellDef="let element"> {{element.contratado}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        
      </div>
    
    </div>